# macOS specifics
*.DS_Store

# Python / Jupyter Notebook
*__pycache__*
*.ipynb_checkpoints*

# setup.py
*.idea/
*.tar.gz
*.zip
*.yml
*.yaml
*.egg-info
*eggs

# virtual environment
venv

# default result and log directories
**/results
**/logs
/demo/cython_test.ipynb

# cython
build
*.c
*.so